@import "tailwindcss";
:root {
  font-family: var(--font-font-family, "Inter"), sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme {
  --color-background: #121622;
  --color-cardDark: #0c0f17;
  --color-cardLight: #1e2233;
  --color-cardBorder: #313b54;
  --color-cardBlue: #3b82f6;
  --color-textPrimary: #ffffff;
  --color-textSecondary: #c5cad3;
  --color-textMuted: #e5e7eb;
  --color-gradientfrom: #1e40af;
  --color-tableAccent: #252a3d;
  --color-tableTextHead: #94a3b8;
  --color-statusNew: #3b82f6;
  --color-statusPending: #fdd261;
  --color-statusCompleted: #3bb979;
  --color-gradientto: rgba(30, 64, 175, 0.3);

  --font-font-family: "Inter", sans-serif;
  --text-headingLg: 36px;
  --text-heading: 24px;
  --text-subheading: 20px;
  --text-label: 16px;
  --text-labelSm: 12px;
  --text-labelLg: 18px;
  --text-body: 14px;
  --text-kpi: 32px;
  --font-weight-headingLg: 700;
  --font-weight-heading: 700;
  --font-weight-subheading: 600;
  --font-weight-label: 500;
  --font-weight-body: 400;
  --font-weight-kpi: 600;
  --leading-headingLg: calc(44px / 36px);
  --leading-heading: calc(32px / 24px);
  --leading-subheading: calc(28px / 20px);
  --leading-label: calc(24px / 16px);
  --leading-body: calc(20px / 14px);
  --leading-kpi: calc(36px / 32px);
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #121622; /* Трек */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #1e2233; /* "Бігунок" */
  border-radius: 4px;
}

/* Firefox */
.custom-scroll {
  scrollbar-color: #1e2233 #121622;
  scrollbar-width: thin;
}
